<div class="example-container">
  <div class="form-container">

    <h1>Provider Portal - Claim Estimate</h1>

    <form [formGroup] = "estimateForm" (ngSubmit)="getClaimEstimate()">


      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Provider ID:
        </mat-label>
        <input matInput formControlName="provID">
      </mat-form-field>
     
      
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Subscriber ID:
        </mat-label>
        <input matInput formControlName="subID">
      </mat-form-field>
      
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Member First Name:
        </mat-label>
        <input matInput formControlName="membFN">
      </mat-form-field>
      
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Member Last Name:
        </mat-label>
        <input matInput formControlName="membLN">
      </mat-form-field>
      
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>
          Date of Birth:
        </mat-label>
        <input matInput placeholder="YYYY-MM-DD" formControlName="dob">
      </mat-form-field>
      
      <div formGroupName="claimLine">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Procedure Code:
          </mat-label>
          <input matInput formControlName="proccd">
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Service ID:
          </mat-label>
          <input matInput formControlName="serviceID">
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Place of Service:
          </mat-label>
          <input matInput formControlName="pos">
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Diagnostic Code:
          </mat-label>
          <input matInput formControlName="diagcd">
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Claim from Date:
          </mat-label>
          <input matInput placeholder="YYYY-MM-DD" formControlName="clmfrmdt">
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Claim to Date:
          </mat-label>
          <input matInput placeholder="YYYY-MM-DD" formControlName="clmtodt">
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Charge Amount:
          </mat-label>
          <input matInput formControlName="clmamt">
        </mat-form-field>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>
            Units:
          </mat-label>
          <input matInput formControlName="units">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!estimateForm.valid">Estimate</button>

      
      </form>

      <br>
      

      

      <div *ngIf=showSpinner>

        <mat-spinner></mat-spinner>
      
      </div>
      <div>
        {{x}}
      </div>
     

  </div>

</div>
